In [381]:
import pandas as pandas
import matplotlib.pyplot as plt
from sklearn import svm, datasets, tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [382]:
df_train = pandas.read_csv("train.csv").drop(['Ticket', 'Name', 'PassengerId', 'Cabin'], axis=1)
df_train.fillna({'Age': df_train['Age'].median()}, inplace=True)
df_train.replace({'Sex': {'female': 0, 'male': 1}}, inplace=True)
df_train = pandas.get_dummies(df_train, columns=['Embarked'])

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,1,22.0,1,0,7.2500,0,0,1
1,1,1,0,38.0,1,0,71.2833,1,0,0
2,1,3,0,26.0,0,0,7.9250,0,0,1
3,1,1,0,35.0,1,0,53.1000,0,0,1
4,0,3,1,35.0,0,0,8.0500,0,0,1

In [383]:
test_size = 0.3
train_x, test_x, train_y, test_y = train_test_split(df_train.drop(['Survived'], axis=1), df_train['Survived'], test_size=test_size)

In [398]:
dt = tree.DecisionTreeClassifier(criterion='gini', max_depth=3)

In [399]:
dt.fit(train_x, train_y)
predict_train_y = dt.predict(test_x)

In [400]:
print(classification_report(test_y, predict_train_y))

              precision    recall  f1-score   support

           0       0.86      0.90      0.88       159
           1       0.84      0.78      0.81       109

   micro avg       0.85      0.85      0.85       268
   macro avg       0.85      0.84      0.84       268
weighted avg       0.85      0.85      0.85       268

In [387]:
df_test = pandas.read_csv("test.csv").drop(['Ticket', 'Name', 'PassengerId', 'Cabin'], axis=1)
df_test.fillna({'Age': df_train['Age'].median(), 'Fare': df_train['Fare'].median()}, inplace=True)
df_test.replace({'Sex': {'female': 0, 'male': 1}}, inplace=True)
df_test = pandas.get_dummies(df_test, columns=['Embarked'])

In [388]:
predict_test_y = dt.predict(df_test)
ids = pandas.read_csv("test.csv")['PassengerId']
df_predict = pandas.DataFrame({'PassengerId': ids, 'Survived': predict_test_y}).set_index('PassengerId')

In [389]:
df_predict.to_csv('predict.csv')

In [391]:
predict_test_y = model.predict_classes(df_test.values)
ids = pandas.read_csv("test.csv")['PassengerId']
df_predict = pandas.DataFrame({'PassengerId': ids, 'Survived': predict_test_y}).set_index('PassengerId')
df_predict.to_csv('predict.csv')